.paragraphe1 {font-family:Arial;text-align:center}
.petitnom {font-family:Arial;font-size:24px;}
.toto {font-family:Arial;top: 1179px;background: white; border-width:5px ;border-color:white ;border-style:solid; height:360px;width:400px;font-family:Arial;display: inline-block; }
.bbb {font-family:Arial;font-size:24px}
.nom {left:900px;font-family:Arial;text-align:justify;border-width:5px;border-color:white;border-style:solid;height:380px;width:400px;}
.nomnom {font-family:Arial;font-size:24px}
.tolo {font-family:Arial;top: 1179px;background: white; border-width:5px ;border-color:white ;border-style:solid; height:340px;width:400px;font-family:Arial;text-align:justify;}