h1 {text-align:center; color:blue}
.intro {text-align:center; font-style}
.yatch{display: inline-block; width: 100%;} 
h2 {color:blue}
.yatch{ position: relative; color:black; border-top-width:3pt;}
.toto { position: absolute; top: 575px; ; background: white; border-width:5px;border-color:black;border-style:solid; height:450px;width:300px}

