h1 {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190); font-weight:bold; align : center}

.a { margin: 10px ; }




.b {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190); font-weight:bold}

.c {margin: 10px}

.d {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190);font-weight:bold}



.e {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190);font-weight:bold}



.f {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190); font-weight:bold}



.g {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190); font-weight:bold}



.h {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190); font-weight:bold}

.orange {color: #F4A460 ; font-weight : bold}

.i {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190); font-weight:bold}

.orange2 {color:#F4A460 ; font-weight : bold}

.j {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190);font-weight:bold}



.k {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190); font-weight:bold}

.orange3 {color: #F4A460 ; font-weight : bold}

.l {list-style-type : circle; color: #FFFFFF; background-color : rgba(190,190,190,190); font-weight:bold}

.orange4 {color: #F4A460 ; font-weight : bold}


.m {margin: 10px}
