body {
 font-family:arial, sans-serif;
 font-size:100%;
   color:#000000;
    background-color: white;
   width: 80%;
  margin: auto;
  background-image: url("https://st2.depositphotos.com/2767472/7348/i/950/depositphotos_73486875-stock-photo-geometric-triangle-mosaic-background-graphic.jpg")
}
h1 {
  font-family:verdana, sans serif;
 font-size:200%;
  color:#FFFFFF;
    text-align: center;
 }
h2 {
 font-family:verdana, sans serif;
 font-size:200%;
 color:#ED0000;
  text-align: center;
 }
p
{
    text-align: justify;
}
.titres
{
   font-style: italic;
}
.acteurs
{
   font-weight: bold;
}
.photo
{
   text-align: center;
}

.header { background: url(https://besthqwallpapers.com/Uploads/25-3-2018/45711/thumb2-red-sparrow-2018-4k-photoshoot-jennifer-lawrence.jpg) no-repeat center; background-size: cover; padding-top: 600px; padding-bottom: 200px; text-align: center; }

Notre critique cinéma de Red Sparrow, par Francis Lawrence

Après avoir dirigé Jennifer Lawrence dans Hunger Games : L’Embrasement et dans Hunger Games : La Révolte partie 1 et 2, Francis Lawrence renouvelle cette collaboration avec Red Sparrow, un thriller sur fond d’espionnage. 

Un synopsis intriguant

Dominika Egorova, danseuse étoile du Bolchoï, est blessée lors d’une représentation : sa carrière est finie. Afin que sa mère, malade, puisse garder son infirmière et l’appartement dans lequel elles vivent toutes les deux, elle accepte une « mission » de son oncle, membre haut placé des services secrets russes. A partir de ce moment, sa vie bascule et elle devient un « moineau », chargé de servir son pays et d’accomplir ce qu’on lui demande sans rien ressentir.

Un projet ambitieux

Adapté du roman éponyme de Jason Matthews, Francis Lawrence signe une très belle réalisation. Avec une Jennifer Lawrence plus que crédible en ballerine désabusée, le réalisateur parvient à nous faire croire du début jusqu’à la fin à la descente aux enfers de Domenika. Trahison, perte d’identité, soumission, torture, Jennifer Lawrence se hisse à un autre niveau avec Red Sparrow et prouve qu’elle joue dans la cour des grands. Mention spéciale au comédien belge Matthias Schoenaerts qui s’illustre dans le rôle de Ivan Dimitrevich Egorov, l’oncle de Domenika.

Des images à couper le souffle

Les premières minutes donnent le ton : des scènes de ballet classique du Bolchoï sont mises en parallèle avec un échange douteux dans un parc, en pleine nuit. Sur fond de musique classique, lumière aveuglante et pénombre s’affrontent. Une belle introduction au film dont la thématique repose sur ce duel : Domenika remplira t-elle son rôle de Moineau, sans foi ni loi, ou essayera-t-elle de trouver une échappatoire à cette nouvelle vie ?

Le succès au rendez-vous

Red Sparrow est une véritable réussite, tant pour le scénario que pour les images ou la bande-son. Film aux multiples rebondissements, les 2h21 que dure le film passent en un instant tant on est captivé par l’histoire plus que réaliste de cette implacable Russie. Même si on peut être surpris de la rapidité avec laquelle Domenika semble vouloir changer de camp, les nombreuses péripéties nous amènent à douter de tout et à analyser la moindre expression que Jennifer Lawrence peut avoir dans ce film. Ceux qui pensaient se détendre devant Red Sparrow seront bien étonnés : entre l’intrigue et les scènes de torture, ils ont plus de chance d’être crispés !

Groupe 8 : Fanny Herledan, Charlotte Maillard, Ralia Embarek et Audrey Tobola