.container-signature {
   text-align: center;
}

.container-pragraphe1 {
  text-align : left;
  height : 50px;
 }

h1 {
  color :#8B0000;
  font-weight :bold;
  text-align: center;
  text-decoration:underline;
  font-style: oblique;
}

p:first-letter {
  color:#8B0000;
  font-size: 30px;
  font-weight: bold;
}

blockquote {
  color: white;
  text-align: center;
}

body{
background-color:black;
}

p {  color :white;}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

hr {
  width: 25%;
  color: #8B0000;
}
.body {
  padding: 20px 40px; background-color: black;
}
blockquote
{
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}
blockquote {
    font-size: 16px; /* Titres de 40 pixels */
}
blockquote {
    border: 3px #8B0000 solid;
}
