<div class="single-container">
  <div [ngSwitch]="id">
    <app-single-1 *ngSwitchCase="1"></app-single-1>
    <app-single-2 *ngSwitchCase="2"></app-single-2>
    <app-single-3 *ngSwitchCase="3"></app-single-3>
    <app-single-4 *ngSwitchCase="4"></app-single-4>
    <app-single-5 *ngSwitchCase="5"></app-single-5>
    <app-single-6 *ngSwitchCase="6"></app-single-6>
    <app-single-7 *ngSwitchCase="7"></app-single-7>
    <app-single-8 *ngSwitchCase="8"></app-single-8>
    <app-single-10 *ngSwitchCase="10"></app-single-10>
    <app-single-11 *ngSwitchCase="11"></app-single-11>
    <app-single-12 *ngSwitchCase="12"></app-single-12>
    <app-single-13 *ngSwitchCase="13"></app-single-13>
    <app-single-14 *ngSwitchCase="14"></app-single-14>
    <app-single-15 *ngSwitchCase="15"></app-single-15>
    <app-single-16 *ngSwitchCase="16"></app-single-16>
  </div>
  <app-menu></app-menu>
</div>
